.inline {
    list-style: none;
    text-align: center;
    display: inline;
    font-weight: bold;
}

.inline li {
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
}

footer {
    font-size: .8em;
    width: 90%;
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

a {
    color: #ffab40;
}

html {
    width:100%;
    height: 100%;
    background-color: #2a323d;
    font-family: "Roboto", sans-serif;
    font-weight:normal;
    line-height:1.5;
}

@media only screen and (min-width: 0) {
 html {
  font-size:14px
 }
}

@media only screen and (min-width: 992px) {
 html {
  font-size:14.5px
 }
}

@media only screen and (min-width: 1200px) {
 html {
  font-size:15px
 }
}

body {
    background: transparent;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}

h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}

h1:first-child {
    font-family: "Pacifico", cursive, sans-serif;
}

body > h4 {
    width: 90%;
    max-width: 940px;
    margin: 20px auto -10px auto;
    color: white;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.collection {
    margin: 0.5rem 0 1rem 0;
    border: none;
    overflow: hidden;
    position: relative;
}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

.collection.with-header .collection-header {
    background-color: #242a33;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
    color: white;
}

ul:not(.browser-default) li {
    list-style-type: none;
}

.collection.with-header .collection-item {
    padding-left: 30px;
}
.collection a.collection-item {
    display: block;
    transition: .25s;
}
.collection .collection-item {
    background-color: #242a33;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-top: 1px solid rgba(160,160,160,0.2) !important;
    transition: 0.4s;
}

.collection .collection-item:hover {
    background-color: #333c4a !important;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    text-align: justify;
}

@media only screen and (min-width: 601px) {
 .container {
  width:85%
 }
}

@media only screen and (min-width: 993px) {
 .container {
  width:70%
 }
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background-color: #242a33;
    box-sizing: border-box;
}

.accordion:not(:first-child) {
    border-top: 1px solid rgba(160,160,160,0.2) !important;
}

.active, .accordion:hover {
    background-color: #333c4a !important;
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion:focus {
    background-color: unset;
}

.desc p {
    display: inline;
}

.desc a {
    margin-left: 1em;
}

.head {
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head > * {
    flex-basis: 50%;
}

.head.head-background {
    color: transparent;
    background-color: #333c4a;
    z-index: 1;
}

.sections {
    text-align: right;
}

.sections div {
    display: inline;
    cursor: pointer;
    font-size: large;
    padding: 10px;
    color: white;
}

#intro {
    width: 100%;
    height: 100vh;
    background-color: #333c4a;
    z-index: 2;
    position: absolute;
    top: 0;
}

#intro + .section {
    margin-top: calc(100vh - 150px);
}

#intro canvas {
    pointer-events: none;
}

#current_chat {
    display: none;
    width: 95%;
    max-width: 900px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: xx-large;
    background-color: #242a33;
    padding: 20px;
    border-radius: 2px;
}

#controls {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: grey;
    font-size: 250%;
    background-color: #242a3388;
    padding: 20px;
    border-radius: 2px;
    text-align: center;
    transition: opacity 1s ease;
}

#controls .inline {
    width: 2rem;
}

.page-title {
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
}

.section {
    margin-top: -150px;
    padding-top: 150px;
}

.head + .section {
    margin-top: 0;
}

.section h1 {
    color: white;
    text-align: center;
}

@media screen and (max-device-width: 480px) {
    .head {
        padding: 10px;
    }

    .head h1 {
        font-size: 1.5em;
    }

    .page-title {
        font-size: large;
    }

    .sections div {
        font-size: medium;
    }

    #current_chat {
        font-size: large;
    }

    #controls {
        font-size: 125%;
    }

    #controls .inline {
        width: 1rem;
    }
}

@media (pointer:coarse) {
    #intro {
        height: calc(100vh - 60px);
    }

    #controls {
        display: none;
    }
}

.card .card-content .card-title {
    line-height: 48px;
}

.card .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.card .card-title {
    font-size: 24px;
    font-weight: 300;
}

.card .card-image {
    position: relative;
}

.card-content .card-image {
    margin: 0 -20px 20px -20px;
}

.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

img {
    border: 0;
}

.card .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 20px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #ffab40;
    margin-right: 20px;
    transition: color .3s ease;
    text-transform: uppercase;
}

.card > h5 {
    padding: 10px 10px 0 10px;
}

table {
    margin: auto;
}

.inline form {
    display: inline-block;
}

.off {
    width: 90%;
    max-width: 940px;
    margin: auto;
    margin-top: 10px;
    color: gray;
}

.btn, .btn-flat {
    padding: 0 !important;
}

a.btn, a.btn-flat, input.btn, input.btn-flat {
    padding: 0 2rem !important;
}

.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    padding: 0 2rem !important;
    height: 100% !important;
}

body > .collapsible, body > .collection, body .card, body .slider, body > .container {
    width: 90% !important;
    max-width:940px !important;
    margin:auto !important;
    margin-bottom:20px !important;
    margin-top: 20px !important;
}

.collapsible-title span, .collection-header {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
    cursor: default;
}

.collapsible-header {
    color: #fff;
    background-color: #242a33;
}

.collapsible-header, .collapsible-body {
    border-bottom-color: #666;
}

.tabs {
    background-color: #242a33;
}

.tabs .indicator {
    background-color: #8a6465;
}

.collection-header {
    padding: 0 1rem !important;
}

.collapsible-title div {
    cursor: default;
}

.collection {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.collection-item i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
    margin-top: -10px;
}

[type="checkbox"] + label {
    margin-right: 35px;
    line-height: unset !important;
}

footer ul {
    padding: 0;
    display: inline;
    font-weight: bold;
    list-style: none;
    text-align: center;
}

footer ul li {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    padding-right: 8px;
    padding-left: 8px;
}

.card {
    background-color: #242a33;
    color: #fff;
    position: relative;
    margin: 0.5rem 0 1rem 0;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
}

.card .card-content p {
    margin: 15px 0;
}

.card .card-content p:first-child {
    margin-top: 0;
}

.card .card-content p:last-child {
    margin-bottom: 0;
}

.card .card-content .card-title ~ p {
    margin-top: 0;
}

.card .card-image .card-title {
    padding: 0 8px;
    margin: 20px;
    border-radius: 20px;
    opacity: .75;
    background-color: #333c4a;
}

.card-content .card-image.shrink {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.card-content p img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}

.chip {
    background: none;
    font-size: 12px;
    line-height: 18px;
    height: unset;
    margin-top: 0;
    float: right;
    display: inline-block;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    padding: 0 12px;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.chip a {
    color: #ffab40;
}

.card .collapsible {
    border: none;
    box-shadow: none;
    border-top: 1px solid #666;
}

.indicator-item {
    background-color: rgba(156, 165, 180, 0.5) !important;
}

.indicator-item.active {
    background-color: rgba(156, 165, 180, 1) !important;
}

h1 {
    margin: 1.2rem;
}

.collapsible-body p {
    padding: unset;
}

.card-content p:first-child img:first-child {
    margin: -20px;
    width: calc(100% + 40px);
}

.card .card-content .card-caption:last-child {
    margin-top: 35px;
    margin-bottom: -5px;
}

.embed {
    position: relative;
    margin: -20px;
    margin-bottom: -25px;
}

.embed > button {
    position: absolute;
    bottom: 15px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    padding: 0;
}

.embed > iframe {
    width: 100%;
    height: 500px;
}

.container .chip {
    background-color: #2a323d;
    float: unset;
    font-size: 16px;
    margin: 4px;
    padding: 6px 12px;
}

.carousel {
    position: relative;
    height: 815px;
}

.slides {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms;
}

.slide img:not(.vertical) {
    width: 100%;
}

.slide img.vertical {
    float: left;
    height: calc(100% - 40px);
}

.slide img.vertical ~ .slide-desc {
    height: calc(100% - 50px);
    width: calc(100% - 440px);
    float: right;
}

.slide-desc {
    margin: 15px;
    overflow-y: auto;
    height: 9em;
}

.indicators {
    position: absolute;
    bottom: 5px;
    right: 50%;
    transform: translate(50%);
}

.indicator {
    cursor: pointer;
}

.slide.active-slide {
    opacity: 1;
    pointer-events: initial;
}
