node_modules
site/.vitepress/dist
site/.vitepress/cache
site/garden/
site/now/
site/public/garden/
site/public/changelog/
site/changelog/index.md
site/guide-to-incrementals/
site/public/licenses.txt
site/public/posts/
site/tag/
site/tags/
site/timeline/
site/type/
site/types/
garden-output/
reddit-export/
youtube-export/
.env
cache/
site/recent-posts.data.ts
youtube_credentials.json
youtube_token.json
forbidden.txt
reddit_aliases.json