[submodule "assets/toweroffense-assets/Tower-Offense"]
	path = assets/toweroffense-assets/Tower-Offense
	url = https://github.com/thepaperpilot/Tower-Offense
[submodule "assets/slime-assets/Slime-Chargers"]
	path = assets/slime-assets/Slime-Chargers
	url = https://github.com/thepaperpilot/Slime-Chargers
[submodule "gamedevtree"]
	path = gamedevtree
	url = https://github.com/thepaperpilot/The-Modding-Tree.git
	branch = gamedevtree
[submodule "kronos"]
	path = kronos
	url = https://github.com/thepaperpilot/The-Modding-Tree.git
	branch = kronos
[submodule "lit"]
	path = lit
	url = https://github.com/thepaperpilot/The-Modding-Tree.git
	branch = lit
