node_modules
*.log*
.nuxt
.nitro
.cache
.output
.data
.env
dist
garden_export

syndications/cache
syndications/github_token.txt
syndications/ignored_subreddits.txt
syndications/indiekit_token.json
syndications/liked_songs.json
syndications/media_urls.json
syndications/reddit-export
syndications/reddit_credentials.json
syndications/youtube_credentials.json
syndications/youtube_token.json
