node_modules
*.log*
.nuxt
.nitro
.cache
.output
.data
.env
dist
garden-output
assets/favorites.json
assets/tags.json
public/changelog
public/garden
public/licenses.txt

syndications/cache
syndications/ignored_subreddits.txt
syndications/indiekit_token.json
syndications/liked_songs.json
syndications/media_urls.json
syndications/reddit-export
syndications/reddit_credentials.json
syndications/youtube_credentials.json
syndications/youtube_token.json
