---
layout: default
title: The Paper Pilot
nocard: true
featured: [NaN, Babble Buds, Solar TD, Name Draw, Black Hat]
---
<div class="card">
    <div class="card-content">
        <span class="card-title">Hello!</span>
        <p>I'm The Paper Pilot, and I develop free, open source programs and games, using a variety of languages and engines. I'm currently working towards my B.S. in Computer Science, after which I hope to go on to getting a Masters degree, with a focus on Data Science.</p>
    </div>
</div>

<div class="carousel carousel-slider" data-indicators="true">
{% for project in page.featured %}
    {% assign post = site.posts | where:"title",project | first %}
    <div class="carousel-item">
    <div class="card" style="width: 100%; max-width: unset; height: 100%">
        <div class="card-image">
            <img src="/assets/banners/{{ post.banner }}.png">
            <span class="card-title" style="font-weight: 500;">{{ project }}</span>
        </div>
        <div class="card-content">
            {{ post.content }}
        </div>
        <div class="card-action" style="position: absolute; bottom: 0; width: 100%;">
            <a href="{{ post.url }}">read more</a>
        </div>
    </div>
    </div>
{% endfor %}
</div>

<div class="card">
    <ul class="tabs">
        <li class="tab col s4"><a class="active" href="#games">Games</a></li>
        <li class="tab col s4"><a class="active" href="#software">Software</a></li>
        <li class="tab col s4"><a class="active" href="#other">Others</a></li>
    </ul>
    <div id="games">
    <ul class="collapsible" data-collapsible="accordion">
        {% assign projects = site.posts | where:"category","Game" %}
        {% for project in projects %}
            <li>
                <div class="collapsible-header">
                    {{ project.title }}
                    {% for tag in project.tags %}
                        <div class="chip secondary-content"><a href="/tags/#{{ tag | slugify }}"> {{ tag }} </a></div>
                    {% endfor %}
                </div>
                <div class="collapsible-body">
                    {{ project.content }}
                    <div class="card-action">
                        <a href="{{ project.url }}">read more</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div id="software">
    <ul class="collapsible" data-collapsible="accordion">
        {% assign projects = site.posts | where:"category","Software" %}
        {% for project in projects %}
            <li>
                <div class="collapsible-header">
                    {{ project.title }}
                    {% for tag in project.tags %}
                        <div class="chip secondary-content"><a href="/tags/#{{ tag | slugify }}"> {{ tag }} </a></div>
                    {% endfor %}
                </div>
                <div class="collapsible-body">
                    {{ project.content }}
                    <div class="card-action">
                        <a href="{{ project.url }}">read more</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
    <div id="other">
    <ul class="collapsible" data-collapsible="accordion">
        {% assign projects = site.posts | where:"category","Other" %}
        {% for project in projects %}
            <li>
                <div class="collapsible-header">
                    {{ project.title }}
                    {% for tag in project.tags %}
                        <div class="chip secondary-content"><a href="/tags/#{{ tag | slugify }}"> {{ tag }} </a></div>
                    {% endfor %}
                </div>
                <div class="collapsible-body">
                    {{ project.content }}
                    <div class="card-action">
                        <a href="{{ project.url }}">read more</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
</div>
