table {
    width: 100%;
    border: solid 1px black;
    text-align: left;
    border-collapse: collapse;
}

td, th {
    border: solid 1px black;
    padding: 8px;
}

tr:nth-child(2) {
    background-color: lightgray;
}

td:nth-child(2) {
    width: 70%;
}

#example-1 .yellow {
    text-decoration: underline;
    margin: auto;
}

.container {
    border: solid 2px black;
    width: 50%;
    margin: auto;
    padding: 8px;
}

.container span, .container div:not(.inner-container) {
    border: solid 2px black;
    padding: 8px;
}

.dashed {
    border: dashed 2px black;
}

.yellow {
    background-color: yellow;
    width: 50%
}

.inner-container {
    width: 75%;
}

.inner-container span {
    display: inline-block;
    box-sizing: border-box;
}

.inner-container .yellow {
    width: 75%;
}

.inner-container .no-left-padding {
    padding-left: 0;
    width: 25%;
    border-left: none;
}

.middle {
    margin-left: 25%;
}
