* {
    transition-duration: 0.5s;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
    table-align: center;
    margin: auto;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

*:focus {
    outline: none;
    webkit-outline: none;
}

body {
    background-color: var(--background);
    color: var(--color);
    overflow: hidden;
    --background: #0f0f0f;
    --color: #dfdfdf;
    --points: #ffffff;
    --shadowColor: transparent;
    --innerShadowColor: transparent;
    min-width: 640px;
}

html, body {
    min-height: 100%;
    height: 100%;
}

td {
    padding: 0
}

.upgTable {
    display: flex !important;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}

.upgRow {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 10px;
}

.upgAlign {
    vertical-align: 0
}

/*noinspection CssUnusedSymbol*/
.bigUpgAlign {
    vertical-align: 0
}

h1, h2, h3, b, input {
    display: inline;
}


/*noinspection CssUnresolvedCustomProperty,CssUnresolvedCustomProperty,CssUnresolvedCustomProperty,CssUnresolvedCustomProperty*/
.treeNode {
    height: 100px;
    width: 100px;
    border: var(--hqProperty1);
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 50%;
    box-shadow: var(--hqProperty2a), var(--hqProperty2b);
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: var(--hqProperty3);
    padding: 0;
}


/*noinspection CssUnresolvedCustomProperty,CssUnresolvedCustomProperty,CssUnresolvedCustomProperty,CssUnresolvedCustomProperty,CssUnusedSymbol*/
.treeButton {
    height: 100px;
    width: 100px;
    border: var(--hqProperty1);
    border-color: rgba(0, 0, 0, 0.125);
    border-radius: 33%;
    box-shadow: var(--hqProperty2a), var(--hqProperty2b);
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: var(--hqProperty3);
    padding: 0;
    margin: 0 10px 0 10px;
}


/*noinspection CssUnusedSymbol*/
.smallNode {
    height: 60px;
    width: 60px;
    font-size: 30px;
}


/*noinspection CssUnusedSymbol*/
.locked {
    background-color: #3a3e45;
    color: white;
    cursor: not-allowed;
}

.can {
    cursor: pointer;
}

.can:hover {
    transform: scale(1.15, 1.15);
    box-shadow: 0 0 20px var(--points)
}


/*noinspection CssUnresolvedCustomProperty,CssUnusedSymbol*/
.resetNotify {
    box-shadow: var(--hqProperty2a), 0 0 8px #ffffff;
}

/*noinspection CssUnresolvedCustomProperty*/
.treeNode.can:hover {
    transform: scale(1.15, 1.15);
    box-shadow: var(--hqProperty2a), 0 0 20px var(--points);
}

/*noinspection CssUnresolvedCustomProperty,CssUnusedSymbol*/
.notify {
    transform: scale(1.05, 1.05);
    border-color: rgba(0, 0, 0, 0.125);
    box-shadow: var(--hqProperty2a), 0 0 20px #ff0000;
}

/*noinspection CssUnusedSymbol*/
.bought {
    background-color: #5C8A58;
    cursor: default;
}

/*noinspection CssUnusedSymbol*/
.back {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--color);
    font-size: 40px;
    cursor: pointer;
    line-height: 40px;
}

.other-back {
    position: absolute;
    top: 0;
    left: 60px;
    background-color: transparent;
    border: 1px solid transparent;
    color: var(--color);
    font-size: 60px;
    cursor: pointer;
}

/*noinspection CssUnusedSymbol*/
.back:hover {
    transform: scale(1.1, 1.1);
    text-shadow: 0 0 7px var(--color);
}

/*noinspection CssUnusedSymbol*/
.barBase {
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    display: table
}

.barBorder {
    border: 2px solid;
    border-radius: 10px;
    border-color: var(--color);
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
    margin: 0
}

.overlayTextContainer {
    z-index: 3;
    border-radius: 10px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    position: absolute;
}

.fill {
    background-color: var(--color);
    z-index: 2;
    position: absolute;
    overflow: hidden;
    margin-left: -0.5px;
    transition-property: clip-path;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.overlayText {
    z-index: 6;
}

/*noinspection CssUnusedSymbol*/
.tabButton {
    background-color: transparent;
    color: var(--color);
    font-size: 20px;
    cursor: pointer;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid;

}

/*noinspection CssUnusedSymbol*/
.tabButton:hover {
    transform: scale(1.1, 1.1);
    text-shadow: 0 0 7px var(--color);
}

.reset {
    height: 120px;
    width: 180px;
    border-radius: 25%;
    border: 4px solid rgba(0, 0, 0, 0.125);
}

/*noinspection CssUnusedSymbol*/
.upg {
    min-height: 150px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    font-size: 10px;
    margin: 5px;
    flex-shrink: 0;
    overflow: visible;
}

/*noinspection CssUnusedSymbol*/
.achievement {
    height: 90px;
    width: 90px;
    border-radius: 25%;
    border: 2px solid rgba(0, 0, 0, 0.125);
    font-size: 10px;
    color: white;
    text-shadow: 0 0 2px #000000;
}

/*noinspection CssUnusedSymbol*/
.achievement:hover {
    box-shadow: 0 0 10px var(--points);
    z-index: 7;
}

.buyable {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    font-size: 10px;
    position:relative;
}

.tile {
	height: 80px;
	width: 80px;
	border-radius: 15%;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.125);
	font-size: 10px;
	overflow: visible;
}

.tile.can:hover {
	box-shadow: 0 0 10px var(--points);
	transform: scale(1.1, 1.1);
	z-index: 7;
}

.upgBig {
    height: 200px;
    width: 200px;
    border-radius: 25%;
    border: 2px solid rgba(0, 0, 0, 0.125);
}

.longUpg {
    height: 50px;
    width: 120px;
    background: var(--points);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.125);
    font-size: 10px;
}

.smallUpg {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.125);
    margin-top: 4px;
}

#rituals + .job-details .smallUpg {
    color: white;
}

#points {
    color: var(--points);
    text-shadow: 0 0 10px var(--points);
}

a {
    color: #02f2f2;
    text-decoration-line: none;
    cursor: pointer
}

.link {
    display: block;
    font-size: 20px;
    color: #02f2f2;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    transform: scale(1.2, 1.2);
    text-shadow: 5px 0 10px #02f2f2,
    -3px 0 12px #02f2f2;
}

.opt {
    height: 100px;
    width: 100px;
    border-radius: 25%;
    background-color: var(--color);
    border: 4px solid rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.opt:hover {
    background-color: #439ea3;
}

.hidden {
    visibility: hidden;
    height: 50px !important;
}

.canvas {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -999;
}

/*noinspection CssUnusedSymbol*/
.milestone {
    width: 100%;
    min-width: 120px;
    padding-left: 5px;
    padding-right: 5px;
    height: 75px;
    background-color: #3a3e45;
    border-radius: 4px;
    border: 4px solid rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.5);
}

/*noinspection CssUnusedSymbol*/
.milestoneDone {
    width: 100%;
    min-width: 120px;
    padding-left: 5px;
    padding-right: 5px;

    height: 75px;
    background-color: #5C8A58;
    border-radius: 4px;
    border: 4px solid rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.5);
}

.left {
    position: absolute;
    left: 0;
}

/*noinspection CssUnusedSymbol*/
.remove {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

/*noinspection CssUnusedSymbol*/
.remove:hover {
    transform: scale(1.1, 1.1);
}

/*noinspection CssUnusedSymbol*/
.col {
    min-width: 49.5%;
    max-width: 49.5%;
    width: 49.5%;
    height: calc(100% - 50px);
    min-height: calc(100% - 50px);
    column-span: 1;
    position: fixed;
    overflow-y: auto;
    overflow-x: auto;
    transition-duration: 0s;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.instant, .buyable > span, .buyable h2, .upg > span, .upg h2 {
    transition-duration: 0s !important
}

/*noinspection CssUnusedSymbol*/
.fast {
    transition: color 0s;
}

/*noinspection CssUnusedSymbol*/
.right {
    top: 50px;
    right: 0;
    z-index: 999999;
}

#app {
    column-count: 2;
    min-height: calc(100% - 50px);
    margin-top: 50px;
}

#app {
    column-width: 50%;
}

.vl {
    border-left: 6px solid #333c4a;
    height: 100%;
    position: fixed;
    left: 50%;
    margin-left: -3px;
    top: 0
}

.vl2 {
    border-left: 3px solid var(--color);
    height: 100%;
}

.hl {
    border-top: 3px solid var(--color);
}

ul {
    list-style-type: none;
}

/*noinspection CssUnusedSymbol*/
.hChallenge {
    background-color: #bf8f8f;
    position: relative;
    border: 4px solid rgba(0, 0, 0, 0.125);
    color: rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 300px;
    font-size: 15px;
    border-radius: 33.33%;
}

/*noinspection CssUnusedSymbol*/
.hChallenge.done {
    background-color: #77bf5f;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.hChallenge.canComplete {
    background-color: #ffbf00;
}

.fullWidth {
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 100%;
    overflow-y: auto;
    overflow-x: auto;
    transition-duration: 0s
}

.tooltipBox {
	position: relative;
	display: inline-block;
  }

  .tooltipBox:hover .tooltip{
	opacity: 1;
  }

  .forceTooltip .tooltip{
	opacity: 1;
  }

  .tooltip {
	pointer-events: none;
	text-align: center;
	width: 150px;
	font-size: 16px;
	line-height: 1.2;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	font-family: "Lucida Console", "Courier New", monospace;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0;
	transition: opacity 0.25s;

	position: absolute;
	z-index: 99999999 !important;

	background-color: var(--background_tooltip);
	color: var(--points);
	content: attr(tooltip);
	font-size:14px;

  }

  .tooltip::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;

	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--background_tooltip) transparent transparent transparent;
  }

#loadingSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
    z-index: 100000000000000;
}

.treeOverlay {
    pointer-events: none;
    overflow: hidden;
}

.overlayThing {
    z-index: 10000;
    pointer-events: auto;
    background-color: var(--background);
}

.sideLayers {
    z-index: 10000;
    pointer-events: auto;
    position: absolute;
    right: 55px;
    top: 65px;
}

button > * {
    pointer-events: none;
}

/*noinspection CssUnusedSymbol*/
.ghost {
    visibility: hidden
}

/*noinspection CssUnresolvedCustomProperty,CssUnusedSymbol*/
.story {
    width: 600px;
    max-width: 95%;
    text-align: left;
    color: var(--lore-color);
}

/*noinspection CssUnresolvedCustomProperty*/
.story-title {
    text-align: left;
    font-size: 24px;
    color: black;
    cursor: pointer;
    border: none;
    padding: 4px;
    width: 100%;
    background-color: var(--lore-color);
}

.story-toggle {
    border: none;
    font-size: 20px;
    pointer-events: none;
    width: 1em;
    display: inline-block;
    margin-right: -12px;
}

.story-text {
    padding: 8px;
    border: 4px solid;
    max-height: 100%;
    overflow-y: hidden;
    transition-duration: 0s;
}

.story.closed .story-text {
    max-height: 0;
    padding: 0 8px;
    border-width: 0 4px;
}

.story:first-child .story-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.story:not(.closed):last-child .story-text {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.story.closed:last-child .story-title {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#treeTab td button {
    margin: 0 10px;
}

.nav {
    background-color: #333c4a;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    z-index: 9999999;
}

#title {
    font-family: "Pacifico", cursive, sans-serif;
    font-size: 36px;
    text-align: left;
    margin-left: 12px;
}

#optionWheel {
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition-duration: .5s;
}

#optionWheel:hover {
    transform: rotate(360deg);
}

#info {
    font-size: 20px;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #02f2f2;
    line-height: 14px;
}

#info:hover {
    transform: scale(1.2, 1.2);
    text-shadow: 5px 0 10px #02f2f2,
    -3px 0 12px #02f2f2;
}

#discord {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#discord img {
    width: 100%;
    height: 100%;
}

#discord-links {
    position: fixed;
    top: 0;
    padding: 80px 30px 30px;
    right: -280px;
    width: 200px;
    transition: right .25s ease;
    background: #333c4a;
    z-index: -1;
}

#discord:hover #discord-links {
    right: 0;
}

#version {
    text-align: left;
    margin-left: 12px;
    margin-bottom: 5px;
    color: var(--points);
    cursor: pointer;
}

#version:hover {
    transform: scale(1.2, 1.2);
    text-shadow: 5px 0 10px var(--points),
    -3px 0 12px var(--points);
}

/*noinspection CssUnusedSymbol*/
.tutorial {
    animation: shockwave 2s infinite;
}

@keyframes shockwave {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(0.95);
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes showJob {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media only screen and (max-width: 1280px) {
    /*noinspection CssUnusedSymbol*/
    .right {
        min-width: 100%;
        background: var(--background);
    }
}

.card {
    padding: 10px;
    background: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: black 4px 4px 8px 0;
    border-radius: 10px;
    position: relative;
    margin: 20px;
}

#mainCard {
    margin: 20px auto;
}

.upgCol:hover > .instant > .card,
.card:hover {
    transform: scale(1.1);
}

.card > span {
    flex-basis: 30%;
    display: flex;
    z-index: 1;
}

.card > img {
    max-width: 50%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: .25;
}

.card h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100%;
}

/*noinspection CssUnusedSymbol,CssUnusedSymbol*/
.selectedCard, .selectedCard:hover {
    transform: scale(1.2);
    z-index: 2;
}

/*noinspection CssUnusedSymbol*/
.flipCard {
    animation: flip 1s;
}

@keyframes flip {
    0% {
        transform: rotateY(90deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

/*noinspection CssUnusedSymbol*/
.cursor {
    cursor: pointer;
}

.chipping-container {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    justify-content: space-around;
}

.chipping {
    width: 30px;
    height: 30px;
    background: grey;
    margin: 4px;
}

.chipping-fill {
    background: white;
}

/*noinspection CssUnresolvedCustomProperty,CssUnresolvedCustomProperty*/
.hourglass {
    --polygonH: polygon(0% 0%, 100% 0%, 100% 5.55%, 95% 5.55%, 95% 28%, 60% 46%, 60% 54%, 95% 72%, 95% 94.45%, 100% 94.45%, 100% 100%, 0% 100%, 0% 94.45%, 5% 94.45%, 5% 72%, 40% 54%, 40% 46%, 5% 28%, 5% 5.55%, 0% 5.55%);
    animation-name: flipHourglass;
    animation-duration: var(--flip-duration);
    animation-delay: 0s;
    animation-play-state: var(--flip-state);
    animation-timing-function: ease-in-out;
    background-image: linear-gradient(#C2B280 0.5em, #737a8c55 0.5em 8.5em, #C2B280 8.5em);
    clip-path: var(--polygonH);
    -webkit-clip-path: var(--polygonH);
    overflow: hidden;
    position: relative;
    width: 5em;
    height: 9em;
    z-index: 0;
}

.hourglass:before, .hourglass:after {
    animation-timing-function: linear;
    content: "";
    display: block;
    position: absolute;
}

/*noinspection CssUnresolvedCustomProperty,CssUnresolvedCustomProperty,CssUnresolvedCustomProperty*/
.hourglass:before {
    --polygonB1: polygon(0% 0%, 100% 0%, 100% 24%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 50% 47%, 0% 24%);
    --polygonB2: polygon(0% 4%, 100% 4%, 100% 24%, 55% 45%, 55% 100%, 55% 100%, 55% 100%, 45% 100%, 45% 100%, 45% 100%, 45% 45%, 0% 24%);
    --polygonB3: polygon(0% 24%, 100% 24%, 100% 24%, 55% 45%, 55% 80%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 45% 80%, 45% 45%, 0% 24%);
    --polygonB4: polygon(45% 45%, 55% 45%, 55% 45%, 55% 45%, 55% 58%, 100% 76%, 100% 100%, 0% 100%, 0% 76%, 45% 58%, 45% 45%, 45% 45%);
    --polygonB5: polygon(50% 53%, 50% 53%, 50% 53%, 50% 53%, 50% 53%, 100% 76%, 100% 100%, 0% 100%, 0% 76%, 50% 53%, 50% 53%, 50% 53%);
    animation-name: fill;
    animation-duration: var(--fill-duration);
    animation-delay: var(--fill-delay);
    animation-play-state: var(--fill-state);
    background-color: white;
    background-size: 100% 3.6em;
    clip-path: var(--polygonB1);
    -webkit-clip-path: var(--polygonB1);
    top: 0.5em;
    left: 0.5em;
    width: 4em;
    height: 8em;
    z-index: 1;
}

/*noinspection CssUnresolvedCustomProperty,CssUnresolvedCustomProperty*/
.hourglass:after {
    animation-name: glare;
    animation-duration: var(--flip-duration);
    animation-delay: 0s;
    animation-play-state: var(--flip-state);
    background: linear-gradient(90deg, #0000 0.5em, #0003 0.5em 1.5em, #0000 1.5em 3.5em, #fff3 3.5em 4.5em, #fff0 4.5em 6.5em, #0003 6.5em 7.5em, #0000 7.5em) linear-gradient(90deg, #0000 0.75em, #0003 0.75em 1.25em, #0000 1.25em 3.75em, #fff3 3.75em 4.25em, #fff0 4.25em 6.75em, #0003 6.75em 7.25em, #0000 7.25em) linear-gradient(90deg, #0000 0.5em, #0003 0.5em 1.5em, #0000 1.5em 3.5em, #fff3 3.5em 4.5em, #fff0 4.5em 6.5em, #0003 6.5em 7.5em, #0000 7.5em) repeat-x 0 0 0 0.5em 0 100%;
    top: 0;
    left: -3em;
    width: 200%;
    height: 100%;
    z-index: 2;
}

@keyframes fill {
    from {
        clip-path: var(--polygonB1);
        -webkit-clip-path: var(--polygonB1);
    }
    15% {
        clip-path: var(--polygonB2);
        -webkit-clip-path: var(--polygonB2);
    }
    55% {
        clip-path: var(--polygonB3);
        -webkit-clip-path: var(--polygonB3);
    }
    95% {
        clip-path: var(--polygonB4);
        -webkit-clip-path: var(--polygonB4);
    }
    to {
        clip-path: var(--polygonB5);
        -webkit-clip-path: var(--polygonB5);
    }
}

@keyframes glare {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(3em);
    }
}

@keyframes flipHourglass {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(180deg);
    }
}

b, h3 {
    text-shadow: 0 0 black;
}

/*noinspection CssUnusedSymbol*/
.gradient-border {
    --border-width: 4px;
    position: relative;
    background-clip: content-box;
}

/*noinspection CssUnusedSymbol*/
.gradient-border::before {
    position: absolute;
    content: "";
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}

/*noinspection CssUnusedSymbol*/
.gradient-border::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -2;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background-size: 300% 300%;
    background: linear-gradient(60deg, rgba(14, 0, 255, 1) 0%, rgba(4, 194, 118, 1) 16%, rgba(9, 9, 121, 1) 35%, rgba(6, 139, 170, 1) 59%, rgba(113, 3, 216, 1) 81%, rgba(0, 212, 255, 1) 100%) 0 50%;
    border-radius: 5px;
    animation: moveGradient 8s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.instrument {
    width: 390px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(138, 255, 193);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

/*noinspection CssUnresolvedCustomProperty*/
.instrument::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: var(--instrument-progress);
    background: rgb(138, 255, 193);
    z-index: -1;
    opacity: 0.5;
    border-radius: 10px;
}

.instrumentLogo {
    font-size: xxx-large;
}

.battery {
    height: 200px;
    width: 100px;
    border: solid 4px white;
    border-radius: 20px;
}

.battery svg {
    align-self: center;
    width: 100px;
    border-bottom: solid 2px;
    border-radius: 20px;
    background: rgba(1, 1, 1, .25);
}

.battery path {
    stroke: #88f;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.battery #glow feDropShadow {
    flood-color: #b7daff;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--background);
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
}

.card-note {
    background: darkred;
    display: inline-block;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    z-index: 9;
    transform: translate(-50%, -50%);
    margin-top: -20px;
    font-size: x-large;
}

.card-note:empty {
    padding: 0;
}

.upgCol:hover > .instant > .card-note,
.upgCol:hover > .card-note {
    transform: translate(-50%, -50%) scale(1.3);
}

.candypop-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.candypop {
    width: 150px;
    height: 150px;
    mask-box-image: url(android-chrome-512x512.png);
    -webkit-mask-box-image: url(android-chrome-512x512.png);
    flex-shrink: 0;
}

[style*="--count"] {
    position: relative;
}

[style*="--count"]::after {
    counter-reset: count var(--count);
    content: counter(count);
    position: absolute;
    top: 125%;
    color: white;
    font-size: large;
    transform: translate(-50%, -50%);
}

.upg.locked.candypop-selector {
    box-shadow: #f1ebd9 0 0 8px 4px;
    transition-property: transform;
}
.upg.locked.generator-selector {
    box-shadow: #89C6FF 0 0 8px 4px;
    transition-property: transform;
}
.upg.locked.rune {
    box-shadow: #1e1e1e 0 0 8px 12px;
    transition-property: transform;
}

.rune {
    transition-property: transform, box-shadow;
}

.ritual {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
}

.ritual * {
    text-align: left;
}

.ritual > span {
    width: 50%;
}

.ritual h3 {
    margin-bottom: 10px;
    display: block;
}

.ps {
    height: calc(100% - 70px);
    padding-bottom: 20px;
    position: fixed !important;
    transition-duration: 0s;
    width: 49.5%;
}

.ps__rail-y {
    z-index: 100;
}

.mark {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	z-index: 10000;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid transparent;
	border-left: 0.3em solid transparent;
	font-size: 10px;
	overflow:auto;
	pointer-events: none;
}

.star {
	position: relative;
	display: inline-block;
	width: 0;
	height: 0;
	z-index: 10000;
	margin-left: 0.9em;
	margin-right: 0.9em;
	margin-bottom: 1.2em;
	border-right: 0.3em solid transparent;
	border-bottom: 0.7em solid #ffcc00;
	border-left: 0.3em solid transparent;
	font-size: 10px;
	pointer-events: none;

}

.star:before, .star:after {
	content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: .6em;
    left: -1em;
	border-right: 1em solid transparent;
    border-bottom: 0.7em solid #ffcc00;
    border-left: 1em solid transparent;
	transform: rotate(-35deg);
}

.star:after {
	transform: rotate(35deg);
}

.tpsDisplay {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 10000000;
}
