:root {
  --vp-font-family-base: Inter;
  --vp-font-family-mono: Roboto Mono;
}

@font-face {
  font-family: Inter;
  font-display: block;
}

.main .name .clip {
  font-family: Pacifico;
}

.title {
  justify-content: center;
}

.title span {
  font-family: Pacifico;
  font-size: x-large;
}

.search {
  flex-grow: 1;
  padding-left: 0;
  display: block;
}

.DocSearch-Button {
  margin: auto;
  width: unset;
}

ul > li > ul {
  position: relative;
}

ul > li > ul::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background: var(--vp-c-text-1);
    opacity: 0.3;
    left: -16px;
}


.VPSidebar {
  opacity: 1 !important;
}

/* Required due to no JS */
button[aria-haspopup="true"]:focus + .menu {
    opacity: 1 !important;
    visibility: visible !important;
}
.VPLocalNav:has(button[aria-expanded="false"]:focus) + .VPSidebar {
  transform: unset !important;
}
