.version.index
/* version checker */

{
  color: #000015;
  background-color: #F98FF2;
}
@-ms-viewport {
  width: 560px;
}
@-webkit-viewport {
  width: 560px;
}
@-o-viewport {
  width: 560px;
}
@-moz-viewport {
  width: 560px;
}
@viewport {
  width: 560px;
}
.html {
  background-color: #000000;
}
#page {
  z-index: 1;
  width: 560px;
  min-height: 1498.988629876308px;
  background-image: none;
  border-style: none;
  border-color: #000000;
  background-color: #000000;
  padding-bottom: 0px;
}
#page_position_content {
  margin-top: -26px;
  padding-bottom: 12px;
}
#u299 {
  z-index: 2;
  display: block;
  vertical-align: top;
  margin-left: 65px;
  position: relative;
}
#u303-15 {
  z-index: 4;
  min-height: 319px;
  background-color: transparent;
  color: #FFFFFF;
}
#u303-2 {
  font-size: 48px;
  text-align: center;
  line-height: 58px;
}
#u303-15-bw {
  z-index: 4;
  min-height: 319px;
  margin-top: 22px;
  height: 432px;
}
#u304 {
  z-index: 19;
  width: 560px;
  min-height: 315px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  margin-top: 21px;
  position: relative;
}
#slideshowu306 {
  z-index: 20;
  width: 0.01px;
  height: 55px;
  margin-top: 22px;
  position: relative;
}
#u318 {
  position: absolute;
  width: 524px;
  height: 422px;
  border-style: none;
  border-color: transparent;
  background-color: #191919;
  background-color: rgba(0, 0, 0, 0.9);
  top: 63px;
  left: 198px;
  -pie-background: rgba(0, 0, 0, 0.9);
}
#u318popup {
  z-index: 21;
}
#u321 {
  z-index: 22;
  width: 480px;
  height: 360px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  top: 22px;
  left: 22px;
}
#u323 {
  z-index: 24;
  width: 480px;
  height: 360px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  top: 22px;
  left: 22px;
}
#u325 {
  z-index: 26;
  width: 480px;
  height: 360px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  top: 22px;
  left: 22px;
}
#u327 {
  z-index: 28;
  width: 480px;
  height: 360px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  top: 22px;
  left: 22px;
}
#u329 {
  z-index: 30;
  width: 480px;
  height: 360px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  top: 22px;
  left: 22px;
}
#u319 {
  z-index: 32;
  width: 480px;
  height: 360px;
  background-color: transparent;
  margin-right: -10000px;
  position: relative;
  top: 22px;
  left: 22px;
}
#u321_img, #u323_img, #u325_img, #u327_img, #u329_img, #u319_img {
  padding-top: 45px;
  padding-bottom: 45px;
}
#u331 {
  position: absolute;
  width: 560px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  padding-bottom: 10px;
}
#u331popup {
  z-index: 34;
}
#u336 {
  z-index: 35;
  width: 60px;
  height: 45px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 75px;
}
#u338 {
  z-index: 37;
  width: 60px;
  height: 45px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 145px;
}
#u342 {
  z-index: 39;
  width: 60px;
  height: 45px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 215px;
}
#u340 {
  z-index: 41;
  width: 60px;
  height: 45px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 285px;
}
#u334 {
  z-index: 43;
  width: 60px;
  height: 45px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 355px;
}
#u332 {
  z-index: 45;
  width: 60px;
  height: 45px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 425px;
}
#u336:hover, #u338:hover, #u342:hover, #u340:hover, #u334:hover, #u332:hover {
  margin: 0px -10000px 0px 0px;
}
#u344-4 {
  position: absolute;
  width: 30px;
  min-height: 30px;
  background-color: transparent;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  top: 455px;
  left: 570px;
}
#u344-4popup {
  z-index: 47;
}
#u345-4 {
  position: absolute;
  width: 30px;
  min-height: 30px;
  background-color: transparent;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  top: 455px;
  left: 670px;
}
#u345-4popup {
  z-index: 51;
}
#u346-4 {
  position: absolute;
  width: 70px;
  min-height: 30px;
  background-color: transparent;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
  top: 455px;
  left: 600px;
}
#u346-4popup {
  z-index: 55;
}
#u307 {
  position: absolute;
  width: 30px;
  border-style: none;
  border-color: transparent;
  background-color: #C4C4C4;
  padding-bottom: 5px;
  top: 85px;
  left: 670px;
}
#u307:hover {
  background-color: #999999;
  margin: 0px;
}
#u307:active {
  background-color: #6B6B6B;
  margin: 0px;
}
#u308-4 {
  z-index: 60;
  width: 20px;
  min-height: 20px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  color: #FFFFFF;
  line-height: 20px;
  text-align: center;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  position: relative;
  margin-right: -10000px;
  margin-top: 5px;
  left: 5px;
}
.SSFirstButton, .SSPreviousButton, .SSNextButton, .SSLastButton, .SSSlideLink, .SSCloseButton
/* slideshowFreeStyle */

{
  cursor: pointer;
}
.SSSlideLoading
/* slideshowFreeStyle */

{
  background: url("../../images/loading.gif") no-repeat center center;
}
#u359 {
  z-index: 64;
  width: 552px;
  min-height: 171px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  margin-left: 4px;
  margin-top: 21px;
  position: relative;
}
#u361 {
  z-index: 65;
  width: 549px;
  min-height: 254px;
  border-width: 1px;
  border-style: solid;
  border-color: #363636;
  background-color: #222222;
  margin-left: 4px;
  margin-top: 21px;
  position: relative;
}
#u405 {
  z-index: 66;
  width: 240px;
  border-style: none;
  border-color: transparent;
  background-color: transparent;
  margin-left: 160px;
  margin-top: 11px;
  position: relative;
}
#u381 {
  z-index: 69;
  width: 48px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
}
#u375 {
  z-index: 67;
  width: 48px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 48px;
}
#u387 {
  z-index: 71;
  width: 48px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 96px;
}
#u393 {
  z-index: 73;
  width: 48px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 144px;
}
#u399 {
  z-index: 75;
  width: 48px;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  left: 192px;
}
body {
  position: relative;
  min-width: 560px;
}
#page .verticalspacer {
  clear: both;
}
