<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/pacifico.css">
    <meta charset="utf-8">

    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicons/favicon-144.png">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="head head-background">
        <div class="breadcrumbs">
            {% if page.title != "The Paper Pilot" %}
                <h1><a href="/" style="color: #fff">The Paper Pilot</a></h1>
            {% else %}
                <h1>The Paper Pilot</h1>
            {% endif %}
        </div>
        {% if page.title != "The Paper Pilot" %}
            <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}
        <div class="sections">
            {% for section in page.sections %}
                <div onClick="document.getElementById('{{ section }}').scrollIntoView({ behavior: 'smooth' });">{{ section }}</div>
            {% endfor %}
        </div>
    </div>
    <div class="head">
        <div class="breadcrumbs">
            {% if page.title != "The Paper Pilot" %}
                <h1><a href="/" style="color: #fff">The Paper Pilot</a></h1>
            {% else %}
                <h1>The Paper Pilot</h1>
            {% endif %}
        </div>
        {% if page.title != "The Paper Pilot" %}
            <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}
        <div class="sections">
            {% for section in page.sections %}
                <div onClick="document.getElementById('{{ section }}').scrollIntoView({ behavior: 'smooth' });">{{ section }}</div>
            {% endfor %}
        </div>
    </div>

    {% if page.links %}
        <div class="card">
            <div class="card-action">
                {% for link in page.links %}
                    {% assign split = link | split: "|" %}
                    <a href="{{ split[1] }}">{{ split[0] }}</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if page.cards %}
        {% for card in page.cards %}
            {% for page in site.content %}
                {% if page.title == card %}
                    {% if page.nocard %}
                        {{ page.content }}
                    {% else %}
                        <div class="section">
                        <div class="card">
                            <div class="card-content">
                                {% if page.embed %}
                                    <div class="embed">
                                        <button id="fullscreenBtn">
                                            <img src="https://itch.io/static/images/enlarge.svg" style="width: 30px; height: 30px">
                                        </button>
                                        <iframe id="embed" msallowfullscreen="true" allowfullscreen="true" src="{{ page.embed }}" scrolling="no" allowtransparency="true" webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0"></iframe>
                                    </div>
                                {% else %}
                                    {{ page.content | markdownify }}
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% elsif page.nocard %}
        {{ content }}
    {% else %}
        <div class="section">
            <div class="card">
                <div class="card-content">
                {{ content }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if page.tags.size > 0 %}
        <div class="card">
            <div class="card-action">
                {% for tag in page.tags %}
                    <a href="/tags/#{{ tag | slugify }}"> {{ tag }} </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <footer>
        <ul>
            <li><a href="mailto:arl150230@utdallas.edu">email</a></li>
            <li><a href="https://github.com/thepaperpilot">github</a></li>
            <li><a href="https://thepaperpilot.itch.io/">itch</a></li>
            <li><a href="https://www.linkedin.com/pub/anthony-lawn/a9/a98/2">linkedin</a></li>
            <li><a href="https://drive.google.com/uc?export=download&id=0B4xCmMA9eS2jZExWTGhtbS1nT0k">resume</a></li>
            <li><a href="/tags">all projects</a></li>
            <li><a href="/feed.xml">feed</a></li>
        </ul>
    </footer>

    <script type="text/javascript" src="/js/index.js"></script>
</body>

</html>
