<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/kiosk">Computer Science Kiosk</a></li>
  <li><a href="/space">Space Game</a></li>
  <li><a href="/ican">iCan</a></li>
  <li><a href="/strange">12 is Strange</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
     <li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
     <li><a href="https://github.com/thepaperpilot">github.com/thepaperpilot</a></li>
     <li><a href="https://www.linkedin.com/pub/anthony-lawn/a9/a98/2">linkedin.com/pub/anthony-lawn</a></li>
   </ul>
  </footer>
  </body>

</html>
